/* hover effect */

#services-link .icon:hover{
    transform:scale(1.05);
 
  color: #c00000;
  text-shadow: 0 0 10px rgba(255, 144, 41, 0.8);
  
}

#work-process-link > div .icon:hover{
    transform:scale(1.30);
   color:rgb(43, 226, 183);
   text-shadow: 0 0 10px rgba(221, 220, 220, 0.8);
}
#contact-link .icon:hover{
    transform:scale(1.50);
    color:rgb(192, 43, 226);
    text-shadow: 0 0 10px rgba(204, 22, 110, 0.8);
}

#about > div .icon:hover{
    transform:scale(1.20);
    color:rgb(160, 12, 246);
    text-shadow: 0 0 10px rgba(51, 14, 88, 0.8);
}