* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.floating {  
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 100px;
    margin-left: 180px;
}
  
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}

.container{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    height:550px;
    width: 450px;
    float: right;
    margin-right: 300px;
    border-radius: 20px;
}
.page{
    text-align: center;
    padding-top: 20px;
    justify-content: center;
}


.btn{
    height: 40px;
    width: 180px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply; background-blend-mode: soft-light,screen;background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    border-radius: 29px;
    text-align: center;
    padding-top: 20px;
    margin-left: 135px;
    margin-bottom: 29px;
    margin-top: 30px;
}
.btn:hover{
    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen;
}

.lost{
    margin-left:140px;
    color:rgb(70, 72, 73);
}
input{
    height: 40px;
    border-radius: 5px;
    width: 350px;
    border: none;
    margin-top: 10px;
    padding-left: 10px;
}
.box1{
    margin-left: 50px;
    justify-content: center;
}

.last{
    display: flex;
    text-align: center;
    justify-content: center;
}
.last h4{
    color: rgb(25, 14, 248);
}
