.menu-open {
  height: 100px;
  opacity: 1;
  transition: height 0.5s ease, opacity 0.5s ease;
}

.menu-close {
  height: 0;
  opacity: 0;
  transition: height 0.5s ease, opacity 0.5s ease;
}

.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
