
body.bg-1 { background-color:#efefef;}
body.bg-2 { background-color:#565a60;}
body.bg-3 { background-color:#272b2a; }
body.bg-4 { background: url(../../images/bg/bg-body.jpg) repeat;}
body.bg-5 { background:url(../../images/bg/shattered.png) repeat; }
body.bg-6 { background:url(../../images/bg/satinweave.png) repeat; }
body.bg-7 { background:url(../../images/bg/extra_clean_paper.png) repeat; }
body.bg-8 { background:url(../../images/bg/bg_img04.jpg) repeat;
	background-attachment: fixed;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
body.bg-9 { background:url(../../images/bg/bg_img03.jpg) repeat; 
	background-attachment: fixed;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
body.bg-10 { background:url(../../images/bg/bg_img02.jpg) repeat;
	background-attachment: fixed;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
 }



#wrap.boxed {
	width:1280px;
	margin:0px auto;
	/* background-color:#fff; */
	-webkit-box-shadow:  0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	box-shadow:  0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

#wrap.boxed header.fixed .sticky-wrapper.is-sticky .main-header, #wrap.boxed header.fixed .sticky-wrapper.is-sticky .down-header {
	width:1280px;
}

.switcher .hidden {
	display:block !important;
	visibility:visible !important;
}
.container-boxed{
  width:1280px;
	margin:0px auto;
}


/* Media Queries
================================================== */

/* Smaller than standard 1024 (devices and browsers) */
@media only screen and (max-width: 1024px) {
	
#wrap.boxed, .container-boxed {
	width:100%;
	margin:0;
}
	
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

#wrap.boxed, .container-boxed {
	width:100%;
	margin:0;
}

}



/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	
#wrap.boxed, .container-boxed {
	width:100%;
	margin:0;
}

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

#wrap.boxed, .container-boxed {
	width:100%;
	margin:0;
}

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

#wrap.boxed, .container-boxed {
	width:100%;
	margin:0;
}
	

}
