/**
 * @author    ThemePunch <info@themepunch.com>
 * @link      http://www.themepunch.com/
 * @copyright 2018 ThemePunch
 */

.rev_slider > ul > li[data-liquideffect] > img,
.tp-revslider-slidesli[data-liquideffect] .tp-bgimg,
.tp-revslider-slidesli[data-liquideffect] .slot {
	
	display: none !important;
	
}

.tp-revslider-slidesli[data-liquideffect] .slotholder canvas {
	
	position: absolute;
	display: block;
	
}

.tp-revslider-slidesli.liquid-force-visible,
.tp-revslider-slidesli.liquid-force-visible .slotholder {
	
	visibility: visible !important;
	opacity: 1 !important;
	
}

.tp-revslider-slidesli.liquid-force-visible {
	
	z-index: 99 !important;
	
}